<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!-- localhost or postgres -->
        <!-- Assume risk is the database name -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/risk</property>
        <!-- postgres or runner -->
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- <property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.JBossStandAloneJtaPlatform</property> -->

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Create database on startup -->
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated entity classes -->
        <mapping class="edu.duke.ece651.group4.RISK.server.UserInfo"/>
        <mapping class="edu.duke.ece651.group4.RISK.server.GameInfo"/>
<!--        <mapping class="edu.duke.ece651.group4.RISK.server.GameInfoTrial"/>-->


    </session-factory>
</hibernate-configuration>
